<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

<div class="registration_with_button">
    <div class="field registration">
      <div class="name_registration">
          <%= f.label :name, 'Имя' %>
          <%= f.text_field :name, autocomplete: "name" %>
      </div>

      <div class="field surname_registration">
          <%= f.label :surname, 'Фамилия' %>
          <%= f.text_field :surname, autocomplete: "surname" %>
      </div>

      <div class="field">
          <%= f.label :username, 'Никнейм' %>
          <%= f.text_field :username, autocomplete: "username" %>
      </div>

      <div class="field">
        <%= f.label :email, 'Логин' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="password field">
        <%= f.label :password, 'Пароль' %>
        <% if @minimum_password_length %>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="password field">
        <%= f.label :password_confirmation, 'Еще раз' %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
    </div>

      <div class="sign_up_button actions">
        <%= f.submit "Создать аккаунт" %>
      </div>
    <% end %>
</div>
