<% @posts.each do |post| %>
      <tr>
        <td><%= post.name%></td>
        <td><%= post.title%></td>
        <td><%= post.category.name %></td>
        <td><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></td>
        <td><%= post.comments.count %> <%= (post.comments.count) == 1 ? 'Comment' : 'Commentes'%></td>

        <%= link_to 'Show', post, :class =>"show_button" %>

        <% if user_signed_in? && current_user.isadmin == true %>
          <%= link_to 'Edit', edit_post_path(post), :class =>"edit_button" %>
          <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, :class =>"destroy_button" %>
        <% end %>
      </tr>
<% end %>
