<table>
  <thead>
    <tr>
      <th>Имя</th>
      <th>Фамилия</th>
      <th>Никнейм</th>
      <th>Логин</th>
      <th>Пароль</th>
      <th>Действие</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.surname %></td>
        <td><%= user.username %></td>
        <td><%= link_to user.email, user %></td>
        <td><%= user.encrypted_password %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
