<div class="search">
  <input type="text" name="Поиск" value="Поиск">
  <%= image_tag "search.svg"%>
</div>

<% if notice %>
      <p class="notice"><%= notice %></p>
    <% elsif alert %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <div class="top_menu">
      <%= image_tag "logo.svg", :class =>"logo_topmenu"%>
    <div class="menu_topmenu">
      <%= link_to 'Статьи', posts_path %>
      <%= link_to 'Подборки', categories_path %>
      <%= link_to 'Комментарии', comments_path %>
      <%= link_to 'Пользователи', users_path %>
      <%= link_to 'Обращения', appeals_path %>
    </div>
    <div class="bottom_topmenu">
      <% if user_signed_in? %>
        <%= link_to 'Аккаунт', current_user %>
        <%= link_to 'Выйти', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Авторизация', new_user_session_path %>
        <%= link_to 'Регистрация', new_user_registration_path %>
      <% end %>
    </div>
    </div>


<div class="sort">
  <p>Сортировать по:</p>
  <a href="#">Имени</a>
  <a href="#">Никнейму</a>
  <a href="#">Логину</a>
</div>

<table class="table">
  <thead class="thead">
    <tr class="tr_top tr_top_users">
      <td style="grid-area: point1;">Имя</td>
      <td style="grid-area: point2">Фамилия</td>
      <td style="grid-area: point3">Никнейм</td>
      <td style="grid-area: point4">Логин</td>
      <td  style="grid-area: point5">Действие</td>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr class="tr_bottom tr_bottom_users">
        <td style="grid-area: point1"><%= user.name %></td>
        <td style="grid-area: point2"><%= user.surname %></td>
        <td style="grid-area: point3"><%= user.username %></td>
        <td style="grid-area: point4"><%= link_to user.email, user %></td>
        <td class="edit_destroy" style="grid-area: point5">
          <% if user_signed_in? && current_user.isadmin == true %>
            <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, :class =>"destroy_button" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
