<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<div class="autorization_with_button">
    <div class="field autorization">
      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
    </div>

    <div class="sign_in_button actions">
      <%= f.submit "Войти" %>
    </div>
    <% end %>
</div>
