<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="whole_form">
  <div class="name_form">
    <%= form.label :name, "Название" %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :section_id, "Раздел" %>
    <%= form.select :section_id, Section.pluck(:name, :id) %>
  </div>

  <div class="field">
    <%= form.label :category_id, "Подборка" %>
    <%= form.select :category_id, Category.pluck(:name, :id) %>
  </div>

  <div class="image_form">
    <%= form.label :image, "Фотография" %>
    <%= form.file_field :image %>
  </div>

  <div class="content_form">
    <%= form.label :content, "Текст" %>
    <%= form.cktext_area :content %>
  </div>

  <div class="actions_form">
    <%= form.submit %>
  </div>
</div>
<% end %>
