<p id="notice"><%= notice %></p>

<div class="header">
  <h1>О нас</h1>
  <h1>Промо</h1>
  <h1>Блог</h1>
  <h1 class="naming">B8</h1>
</div>

<div class="header_second_row">
  <h1>Посты</h1>
  <%= link_to 'Создать пост', new_post_path, :class =>"new_post" %>
</div>

<table class="main_page_table">
  <thead>
    <tr>
      <!-- <th>Name</th>
      <th>Title</th>
      <th>Content</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <tbody class="posts">
    <% @posts.each do |post| %>
      <tr class="post_structure">
        <td class="photo_block"><%= image_tag(post.image.url, alt: 'Image')%></td>
        <td class="post_name"><%= post.name%></td>
        <td class="post_title"><%= post.title%></td>

        <td>
          <%= link_to 'Show', post, :class =>"show_button" %>
          <%= link_to 'Edit', edit_post_path(post), :class =>"edit_button" %>
          <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, :class =>"destroy_button" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
