<p id="notice"><%= notice %></p>

<% if notice %>
      <p class="notice"><%= notice %></p>
    <% elsif alert %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <div class="top_menu">
      <%= image_tag "logo.svg", :class =>"logo_topmenu"%>
    <div class="menu_topmenu">
      <%= link_to 'Статьи', posts_path %>
      <%= link_to 'Подборки', categories_path %>
      <%= link_to 'Комментарии', comments_path %>
      <%= link_to 'Пользователи', users_path %>
      <%= link_to 'Обращения', appeals_path %>
    </div>
    <div class="bottom_topmenu">
      <% if user_signed_in? %>
        <%= link_to 'Аккаунт', current_user %>
        <%= link_to 'Выйти', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Авторизация', new_user_session_path %>
        <%= link_to 'Регистрация', new_user_registration_path %>
      <% end %>
    </div>
    </div>

<div class="search">
  <input type="text" name="Поиск" value="Поиск">
  <%= image_tag "search.svg"%>
</div>

<div class="post_status">
  <a href="#">Опубликованные</a>
  <a href="#">Черновики</a>
</div>

<div class="sort">
  <p>Сортировать по:</p>
  <a href="#">Названию</a>
  <a href="#">Дате</a>
  <a href="#">Разделу</a>
  <a href="#">Подборке</a>
  <a href="#">Автору</a>
</div>

<table class="table">
  <thead class="thead">
    <tr class="tr_top tr_top_posts">
			<td style="grid-area: point1;">Название</td>
      <td style="grid-area: point2">Раздел</td>
      <td style="grid-area: point3">Подборки</td>
      <td style="grid-area: point4">Автор</td>
      <td style="grid-area: point5">Дата</td>
			<td style="grid-area: point6">Действие</td>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr class="tr_bottom tr_bottom_posts">
        <td style="grid-area: point1"><%= post.name%></td>
        <td style="grid-area: point2"><%= post.section.name%></td>
        <td style="grid-area: point3"><%= post.category.name%></td>
        <td style="grid-area: point4"><%= post.author%></td>
        <td style="grid-area: point5"><%= time_ago_in_words(post.created_at)%></td>

        <td style="grid-area: point6" class="show_edit_destroy">
          <%= link_to 'Show', post, :class =>"show_button" %>
          <% if user_signed_in? && current_user.isadmin == true %>
            <%= link_to 'Edit', edit_post_path(post), :class =>"edit_button" %>
            <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, :class =>"destroy_button" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="new_smth">
  <%= image_tag "plus_sign.svg"%>
  <%= link_to 'Создать пост', new_post_path %>
</div>
