<div class="header">
  <%= link_to 'О нас', about_path %>
  <%= link_to 'Промо', promo_path %>
  <%= link_to 'Блог', posts_path %>
  <h1 class="naming">B8</h1>
</div>

<div class="header_second_row">
  <%= link_to 'Обратно', posts_path %>
</div>

<%= render 'form', post: @post %>
