<p id="notice"><%= notice %></p>

<%= react_component("HelloWorld", { greeting: "Hello from react-rails." }) %>

<div class="header_second_row">
  <td><%= link_to image_tag('arrow_back.svg'), posts_path %></td>
  <%= link_to 'Назад', posts_path%>
</div>

<div class="header">
  <h1><%= @post.name%></h1>
</div>

<div class="whole_show">
      <div class="show_image">
      	<%= image_tag(@post.image.url, alt: '') if @post.image?%>
      </div>

        <strong>Раздел</strong><br>
        <p><%= @post.section.name%></p><br>

        <strong>Подборка</strong><br>
        <p><%= @post.category.name%></p><br>

        <strong>Содержание</strong><br>
        <%= @post.content.html_safe %><br>

        <p><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes'%></p>

        <% if user_signed_in? %>

          <% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %>
          <% if pre_like %>
            <%= button_to 'Unlike', post_like_path(@post, pre_like), method: :delete %>
          <% else %>
            <%= button_to 'Like', post_likes_path(@post), method: :post %>
          <% end %>

          <% pre_favorite = @post.favorites.find { |favorite| favorite.user_id == current_user.id} %>
          <% if pre_favorite %>
              <%= button_to 'Remove from Favorite', post_favorite_path(@post, pre_favorite), method: :delete %>
          <% else %>
              <%= button_to 'Add to Favorite', post_favorites_path(@post), method: :post %>
          <% end %>
        <% end %>

        <strong>Комментарии</strong><br>
        <%= render @post.comments %>

        <h2 class="show_add_comment">Добавить комментарий</h2>
        <% if user_signed_in? %>
        <%= render "comments/form" %>
        <% else %>
        <p>Please <%= link_to 'login', new_user_session_path %> or <%= link_to 'register', new_user_registration_path %> to comment.</p>
        <% end %>

        <% if user_signed_in? %>
        <%= link_to 'Edit', edit_post_path(@post) %> |
        <% end %>
</div>
