<p id="notice"><%= notice %></p>

<div class="header_article">
  <div class="search_and_bttn"> 
    <input type="text" name="Поиск" placeholder="Хочу найти…">
    <div class="user_acc">
      <% if user_signed_in? %>
        <%= link_to image_tag('AccountMobile.svg'), current_user %>
      <% else %>
        <%= link_to image_tag('SignInMobile.svg'), new_user_registration_path %>
      <% end %>
    </div> 
  </div>
  <div class="mobile_menu">
    <a href="" class="main">Главная</a>
    <a href="">Продукты</a>
    <a href="">Витамины</a>
  </div>
</div>
<div class="whole_show">
  <div class="PostNameAndF">
    <h1><%= @post.name%></h1>
      <% if user_signed_in? %>
        <% pre_favorite = @post.favorites.find { |favorite| favorite.user_id == current_user.id} %>
        <% if pre_favorite %>
            <%= link_to image_tag('fIconActive.svg'), post_favorite_path(@post, pre_favorite), method: :delete %>
        <% else %>
            <%= link_to image_tag('fIconNone.svg'), post_favorites_path(@post), method: :post %>
        <% end %>
      <% end %>
  </div>
      <div class="show_image">
      	<%= image_tag(@post.image.url, alt: '') if @post.image?%>
      </div>
      <div class="article_content">
        <%= @post.content.html_safe %><br>
      </div>
      
      <div class="LikePart">
        <% if user_signed_in? %>
          <% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %>
          <% if pre_like %>
            <%= link_to image_tag('LikeIconActive.svg'), post_like_path(@post, pre_like), method: :delete %>
          <% else %>
            <%= link_to image_tag('LikeIconNone.svg'), post_likes_path(@post), method: :post %>
          <% end %>
        <% end %>
        <p><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? '' : ''%></p>
      </div>
      <hr>
        
        <%= render @post.comments %>

        <h2 class="show_add_comment">Добавить комментарий</h2>
        <% if user_signed_in? %>
        <%= render "comments/form" %>
        <% else %>
        <p>Please <%= link_to 'login', new_user_session_path %> or <%= link_to 'register', new_user_registration_path %> to comment.</p>
        <% end %>

        <% if user_signed_in? %>
        <%= link_to 'Edit', edit_post_path(@post) %> |
        <% end %>
</div>
