<%= form_with(model: category) do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="whole_form">
  <div class="name_form">
    <%= form.label :name, "Название" %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :section_id, "Раздел" %>
    <%= form.select :section_id, Section.pluck(:name, :id) %>
  </div>

  <div class="field">
    <%= form.label :description, "Описание" %>
    <%= form.cktext_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
</div>
<% end %>
