<p id="notice"><%= notice %></p>

<div class="search">
  <input type="text" name="Поиск" value="Поиск">
  <%= image_tag "search.svg"%>
</div>

<div class="sort">
  <p>Сортировать по:</p>
  <a href="#">Названию</a>
  <a href="#">Разделу</a>
  <a href="#">Автору</a>
</div>

<table class="table">
  <thead class="thead">
    <tr class="tr_top tr_top_categories">
      <td style="grid-area: point1;">Название</td>
      <td style="grid-area: point2">Раздел</td>
      <td style="grid-area: point3">Автор</td>
      <td style="grid-area: point4">Действие</td>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr class="tr_bottom tr_bottom_categories">
        <td style="grid-area: point1"><%= category.name%></td>
        <td style="grid-area: point3"><%= category.author%></td>

        <td class="edit_destroy" style="grid-area: point4">
          <% if user_signed_in? && current_user.isadmin == true %>
            <%= link_to 'Edit', edit_category_path(category), :class =>"edit_button" %>
            <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, :class =>"destroy_button" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="new_smth">
  <%= image_tag "plus_sign.svg"%>
  <%= link_to 'Создать подборку', new_category_path %>
</div>
