<p id="notice"><%= notice %></p>

<div class="header_second_row">
  <td><%= link_to image_tag('arrow_back.svg'), category_path%></td>
  <%= link_to 'Назад', category_path%>
</div>

<div class="header">
  <h1><%= @category.name%></h1>
</div>

<div class="whole_show">
        <strong>Раздел</strong><br>
        <p><%= @category.section.name%></p><br>

        <strong>Описание</strong><br>
        <%= @category.description%><br>
</div>
