<!DOCTYPE html>
<html>
  <head>
    <title>NdProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag Ckeditor.cdn_url %>
  </head>

  <body>
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% elsif alert %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <div class="top_menu">
      <%= image_tag "logo.svg", :class =>"logo_topmenu"%>
    <div class="menu_topmenu">
      <%= link_to 'Статьи', posts_path %>
      <%= link_to 'Подборки', categories_path %>
      <%= link_to 'Комментарии', comments_path %>
      <%= link_to 'Пользователи', users_path %>
      <%= link_to 'Обращения', appeals_path %>
    </div>
    <div class="bottom_topmenu">
      <% if user_signed_in? %>
        <%= link_to 'Аккаунт', current_user %>
        <%= link_to 'Выйти', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Авторизация', new_user_session_path %>
        <%= link_to 'Регистрация', new_user_registration_path %>
      <% end %>
    </div>
    </div>
    <%= yield %>
  </body>
</html>
